In [280]:
import pdfplumber
import pandas as pd
import numpy as np

In [281]:
# define the columns as a list
# the two pages of the table are parsing with different number of columns, so I'm building 2 separate dfs
columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8']
columns2 = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10', 'col11', 'col12']

# where does the PDF live?
pdf_file = 'MO2016.pdf'

# create an empty dataframe
df = pd.DataFrame(columns=columns)
df2 = pd.DataFrame(columns=columns2)

In [282]:
# define function for first page
def page_to_df(page):
    
    # find the table on the page and extract the data
    table = page.extract_table(table_settings={"vertical_strategy": "text"})
    
    # grab all rows in the table 
    # including first one, because our table_settings mean it already ignores header row
    lines = table
    
    # return the data in a data frame
    return pd.DataFrame(lines, columns=columns)

In [283]:
# define function for second page
def page_to_df2(page):
    
    # find the table on the page and extract the data
    table = page.extract_table(table_settings={"vertical_strategy": "text"})
    
    # grab all rows in the table 
    # including first one, because our table_settings mean it already ignores header row
    lines = table
    
    # return the data in a data frame
    return pd.DataFrame(lines, columns=columns2)

In [284]:
# extract the first page
with pdfplumber.open(pdf_file) as pdf:
    pg1 = pdf.pages[0]
    df1 = page_to_df(pg1)

In [285]:
# check out results of first page
df1.head()

       col1   col2    col3   col4   col5 col6 col7 col8
0     Adair  18.2%  4 ,730  19.0%    900  71%       29%
1    Andrew  10.9%  3 ,992  14.1%    560  73%       27%
2  Atchison  12.9%  1 ,041  17.4%    180  67%       33%
3   Audrain  14.9%  6 ,013  19.9%  1,190  73%       27%
4     Barry  13.9%  8 ,181  21.6%  1,770  88%       12%

In [286]:
# extract the second page
with pdfplumber.open(pdf_file) as pdf:
    pg2 = pdf.pages[1]
    df2 = page_to_df2(pg2)

In [287]:
# check out results of second page
df2.head()

      col1 col2   col3    col4 col5   col6 col7   col8  col9 col10 col11 col12
0  Madison       14.5%  2 ,880       18.7%         540  100%          0%
1   Maries       14.4%  1 ,921       22.4%         430   87%         13%
2   Marion       15.2%  6 ,825       19.2%       1,310   74%         26%
3   Mercer       13.2%    9 26       18.0%         170   91%         10%
4   Miller       14.6%  5 ,899       21.1%       1,240   74%         26%

In [288]:
# remove empty columns in each df
# df1
df1 = df1.drop(['col7'], axis=1)
df1.head()

       col1   col2    col3   col4   col5 col6 col8
0     Adair  18.2%  4 ,730  19.0%    900  71%  29%
1    Andrew  10.9%  3 ,992  14.1%    560  73%  27%
2  Atchison  12.9%  1 ,041  17.4%    180  67%  33%
3   Audrain  14.9%  6 ,013  19.9%  1,190  73%  27%
4     Barry  13.9%  8 ,181  21.6%  1,770  88%  12%

In [290]:
# change col names so we can merge
df1 = df1.rename(index=str, columns={"col1": "county", "col2": "insecure_rate", "col3": "child_pop", 
                                    "col4": "child_insecure_rate", "col5": "child_insecure_pop", 
                                     "col6": "insecure_eligible", "col8": "insecure_ineligible"})

# fix bug in import of Jackson County
df1.at['47', 'insecure_rate'] = '17.2%'
df1.at['47', 'child_pop'] = '164,647'

pd.options.display.height = 225
df1

height has been deprecated.

,county,insecure_rate,child_pop,child_insecure_rate,child_insecure_pop,insecure_eligible,insecure_ineligible
0,Adair,18.2%,"4 ,730",19.0%,900,71%,29%
1,Andrew,10.9%,"3 ,992",14.1%,560,73%,27%
2,Atchison,12.9%,"1 ,041",17.4%,180,67%,33%
3,Audrain,14.9%,"6 ,013",19.9%,"1,190",73%,27%
4,Barry,13.9%,"8 ,181",21.6%,"1,770",88%,12%
5,Barton,16.0%,"2 ,998",22.5%,680,80%,20%
6,Bates,14.3%,"4 ,006",19.7%,790,83%,17%
7,Benton,14.6%,"3 ,325",22.5%,750,94%,6%
8,Bollinger,15.3%,"2 ,724",22.7%,620,67%,33%
9,Boone,16.2%,"3 5,459",15.2%,"5,410",61%,39%
10,Buchanan,14.8%,"2 0,540",19.6%,"4,020",68%,32%
11,Butler,17.2%,"1 0,043",21.9%,"2,200",77%,23%
12,Caldwell,12.6%,"2 ,195",17.5%,380,67%,33%
13,Callaway,13.0%,"9 ,638",17.4%,"1,680",58%,42%
14,Camden,14.1%,"8 ,226",21.5%,"1,770",74%,26%
15,Cape Girardeau,15.4%,"1 6,748",17.5%,"2,940",65%,35%
16,Carroll,14.7%,"2 ,063",20.1%,410,63%,38%
17,Carter,16.2%,"1 ,513",21.6%,330,79%,22%
18,Cass,11.1%,"2 5,477",15.0%,"3,820",59%,41%
19,Cedar,16.3%,"3 ,327",20.6%,690,82%,18%
20,Chariton,13.4%,"1 ,726",17.3%,300,83%,17%
21,Christian,11.5%,"2 1,461",16.2%,"3,490",72%,28%
22,Clark,14.4%,"1 ,597",19.5%,310,75%,25%
23,Clay,11.3%,"5 8,158",14.3%,"8,320",56%,44%
24,Clinton,11.5%,"4 ,940",15.7%,780,69%,31%
25,Cole,13.7%,"1 7,554",16.1%,"2,820",62%,38%
26,Cooper,14.1%,"3 ,882",17.6%,680,82%,18%
27,Crawford,15.5%,"5 ,812",21.2%,"1,230",82%,18%
28,Dade,14.3%,"1 ,609",21.3%,340,88%,12%
29,Dallas,14.7%,"3 ,917",21.0%,820,100%,0%
30,Daviess,12.9%,"2 ,153",18.5%,400,88%,12%
31,DeKalb,14.8%,"2 ,158",18.7%,400,65%,35%
32,Dent,16.0%,"3 ,592",21.0%,750,70%,30%
33,Douglas,15.3%,"2 ,904",22.8%,660,89%,11%
34,Dunklin,20.0%,"8 ,104",25.5%,"2,070",77%,23%
35,Franklin,12.4%,"2 4,026",17.3%,"4,150",63%,37%
36,Gasconade,12.9%,"3 ,172",18.6%,590,68%,32%
37,Gentry,13.1%,"1 ,634",17.8%,290,75%,25%
38,Greene,15.3%,"6 0,019",18.3%,"10,970",73%,27%
39,Grundy,15.0%,"2 ,417",20.4%,490,77%,23%
40,Harrison,14.3%,"2 ,141",20.4%,440,88%,12%
41,Henry,15.1%,"4 ,915",22.2%,"1,090",71%,29%
42,Hickory,16.0%,"1 ,611",24.3%,390,70%,30%
43,Holt,13.0%,9 13,16.3%,150,83%,17%
44,Howard,14.5%,"2 ,250",20.1%,450,82%,18%
45,Howell,16.6%,"9 ,806",23.5%,"2,310",86%,15%
46,Iron,16.9%,"2 ,161",23.5%,510,70%,30%
47,Jackson,17.2%,"164,647",18.7%,"30,760",64%,36%
48,Jasper,13.8%,"2 9,823",18.4%,"5,490",73%,27%
49,Jefferson,11.3%,"5 3,485",16.0%,"8,550",62%,38%
50,Johnson,15.3%,"1 1,839",17.3%,"2,050",68%,32%
51,Knox,14.1%,9 74,19.8%,190,72%,28%
52,Laclede,15.3%,"8 ,618",21.2%,"1,830",85%,15%
53,Lafayette,12.3%,"7 ,667",17.4%,"1,330",64%,36%
54,Lawrence,13.2%,"9 ,754",19.9%,"1,940",87%,13%
55,Lewis,13.3%,"2 ,299",17.5%,400,92%,8%
56,Lincoln,12.6%,"1 4,292",17.6%,"2,520",73%,27%
57,Linn,15.4%,"2 ,934",22.8%,670,84%,16%
58,Livingston,14.5%,"3 ,235",19.2%,620,67%,33%
59,McDonald,13.3%,"6 ,023",20.0%,"1,200",98%,2%
60,Macon,14.8%,"3 ,678",21.6%,790,79%,21%

In [291]:
# df2
df2 = df2.drop(['col2', 'col5', 'col7', 'col10', 'col12'], axis=1)
df2.head()

      col1   col3    col4   col6   col8  col9 col11
0  Madison  14.5%  2 ,880  18.7%    540  100%    0%
1   Maries  14.4%  1 ,921  22.4%    430   87%   13%
2   Marion  15.2%  6 ,825  19.2%  1,310   74%   26%
3   Mercer  13.2%    9 26  18.0%    170   91%   10%
4   Miller  14.6%  5 ,899  21.1%  1,240   74%   26%

In [292]:
# change col names so we can merge
df2 = df2.rename(index=str, columns={"col1": "county", "col3": "insecure_rate", "col4": "child_pop", 
                                    "col6": "child_insecure_rate", "col8": "child_insecure_pop", 
                                     "col9": "insecure_eligible", "col11": "insecure_ineligible"})
df2.head()

,county,insecure_rate,child_pop,child_insecure_rate,child_insecure_pop,insecure_eligible,insecure_ineligible
0,Madison,14.5%,"2 ,880",18.7%,540,100%,0%
1,Maries,14.4%,"1 ,921",22.4%,430,87%,13%
2,Marion,15.2%,"6 ,825",19.2%,"1,310",74%,26%
3,Mercer,13.2%,9 26,18.0%,170,91%,10%
4,Miller,14.6%,"5 ,899",21.1%,"1,240",74%,26%

In [293]:
data = pd.concat([df1,df2])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116 entries, 0 to 54
Data columns (total 7 columns):
county                 116 non-null object
insecure_rate          116 non-null object
child_pop              116 non-null object
child_insecure_rate    116 non-null object
child_insecure_pop     116 non-null object
insecure_eligible      116 non-null object
insecure_ineligible    116 non-null object
dtypes: object(7)
memory usage: 7.2+ KB

In [294]:
# DATA CLEANING

# strip middle whitespace
data['child_pop'] = data['child_pop'].str.strip().str.lower().str.replace(' ', '')

# and trim any other leading/trailing spaces

# remove percent signs
data['insecure_rate'] = data['insecure_rate'].str.strip().str.lower().str.replace('%', '')
data['child_insecure_rate'] = data['child_insecure_rate'].str.strip().str.lower().str.replace('%', '')
data['insecure_eligible'] = data['insecure_eligible'].str.strip().str.lower().str.replace('%', '')
data['insecure_ineligible'] = data['insecure_ineligible'].str.strip().str.lower().str.replace('%', '')

In [295]:
# turn percents into numbers
data['insecure_rate'] = pd.to_numeric(data['insecure_rate'], errors='coerce')
data['child_insecure_rate'] = pd.to_numeric(data['child_insecure_rate'], errors='coerce')
data['insecure_eligible'] = pd.to_numeric(data['insecure_eligible'], errors='coerce')
data['insecure_ineligible'] = pd.to_numeric(data['insecure_ineligible'], errors='coerce')

# turn percents into decimals
data['insecure_rate'] = (data['insecure_rate'] / 100)
data['child_insecure_rate'] = (data['child_insecure_rate'] / 100)
data['insecure_eligible'] = (data['insecure_eligible'] / 100)
data['insecure_ineligible'] = (data['insecure_ineligible'] / 100)

In [296]:
data.head()

,county,insecure_rate,child_pop,child_insecure_rate,child_insecure_pop,insecure_eligible,insecure_ineligible
0,Adair,0.182,"4,730",0.190,900,0.71,0.29
1,Andrew,0.109,"3,992",0.141,560,0.73,0.27
2,Atchison,0.129,"1,041",0.174,180,0.67,0.33
3,Audrain,0.149,"6,013",0.199,"1,190",0.73,0.27
4,Barry,0.139,"8,181",0.216,"1,770",0.88,0.12

In [297]:
# reset index
data = data.reset_index()

In [298]:
# remove last row containing summary data
data = data.drop(115)

In [299]:
# check end of file
data.tail()

,index,county,insecure_rate,child_pop,child_insecure_rate,child_insecure_pop,insecure_eligible,insecure_ineligible
110,49,Wayne,0.157,"2,805",0.224,630,0.88,0.12
111,50,Webster,0.145,"10,091",0.201,"2,020",0.90,0.10
112,51,Worth,0.118,415,0.168,70,1.00,0.00
113,52,Wright,0.173,"4,587",0.233,"1,070",0.93,0.07
114,53,St. Louis city,0.251,"63,972",0.233,"14,890",0.60,0.40

In [300]:
# write to csv
data.to_csv('foodinsecurity_MO.csv')